body {
    font-family: TisaWebPro, sans-serif;
    background: #f7f9f9;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

.chart {
    display: block;
    margin: auto;
    position: relative;
}

text {
    font-size: 13px;
    fill: #777;
    pointer-events: none;
}


rect {
    fill: none;
    cursor: pointer;
    opacity: 0.4;
}
rect.exempt_a { fill: #2fa3af; }
rect.exempt_b { fill: #4daab7; }
rect.exempt_c { fill: #5abac5; }
rect.exempt_d { fill: #82cad8; }
rect.furloughed { fill: #bb4207;}

.parentCell.active rect {
    opacity: 1;
}
.parentCell.active text {
    fill: #f0f0f0;
    text-shadow: 0px 1px 2px #444444;
}
g.cell {
    cursor: pointer;
}

#header {
    text-align: center;
}
h1 {
    display: inline-block;
    font-family: TisaSCWebPro, sans-serif;
    text-transform: lowercase;
    font-size: 36px;
    font-weight: 200;
    color: #6a6b6b;
    padding: 10px;
    border: 4px solid #e0e0e0;
    margin: 10px;
}
h2 {
    display: block;
    font-family: TisaSCWebPro, sans-serif;
    text-transform: lowercase;
    font-size: 28px;
    font-weight: 200;
    color: #6a6b6b;
    margin: 10px;
}
h3 {
    font-family: TisaWebPro, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #101010;
    margin: 0px;
}
h6 {
    font-family: TisaScWebPro, sans-serif;
    text-transform: lowercase;
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
}
table#shutdown-stats {
    width: 100%;
}
table#shutdown-stats td {
    text-align: center;
}
h6#furlough-map-legend {
    margin-left: 40px;
}
div.tooltip {
    display: inline-block;
    position: absolute;
    padding: 10px;
    background: white;
    border-radius: 3px;
    pointer-events: none;
    width: 200px;
    box-shadow: 0px 0px 5px #888;
    text-align: center;
}
div.agency-details {
    position: absolute;
    display: none;
    top: 40px;
    width: 300px;
    background: white;
    border-radius: 3px;
    pointer-events: none;
    padding: 20px;
    text-align: center;
}
div.agency-details h3 {
    text-align: center;
    line-height: 24px;
}
div.agency-details table {
    width: 300px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
div.agency-details td {
    width: 150px;
    text-align: center;
}
tr.agency-staff-percent {
    font-weight: 300;
    font-size: 30px;
}

ul.services {
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
}
ul.services li { cursor: pointer; line-height: 28px; }
ul.services li.halted { color: #911801; }
ul.services li.risk { color: #e46a0c; }
ul.services li.ok { color: #2fa3af; }

.text-red { color: #911801; }
.text-orange { color: #e46a0c; }
.text-green { color: #2fa3af; }
.text-gray { color: #999; }