body {
    font-family: TisaWebPro, sans-serif;
    background: #eaecec;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

div.body {

}

div#logo {
    text-align: center;
    margin-bottom: 20px;
}

#logo .twitter-link {
    font-size: 12px;
    color: #888888;
    margin: 0px;
    margin-top: -20px;
    text-transform: lowercase;
}
#logo .twitter-link a {
    color: #888888;
    text-decoration: none;
}
#logo .twitter-link a:hover {text-decoration: underline; }
#logo img {
    margin-left: 5px;
}

.chart {
    display: block;
    margin: auto;
    position: relative;
}

text {
    font-size: 13px;
    fill: #777;
    pointer-events: none;
}


rect {
    fill: none;
    cursor: pointer;
    opacity: 0.4;
}
rect.exempt_a { fill: #2fa3af; }
rect.exempt_b { fill: #4daab7; }
rect.exempt_c { fill: #5abac5; }
rect.exempt_d { fill: #82cad8; }
rect.furloughed { fill: #bb4207;}

#furlough-legend-bottom { width: 1200px; margin: 2px auto; text-align: center; }
#furlough-legend-bottom .swatch { display: inline-block; width: 5px; height: 5px; margin: 1px 5px;}
#furlough-legend-bottom .legend-bottom-item { display: inline-block; padding: 1px 5px; }
#furlough-legend-bottom h6 { display: inline; }
#furlough-legend-bottom .furloughed { color: #bb4207;}
#furlough-legend-bottom .exempt_a { color: #2fa3af; }
#furlough-legend-bottom .exempt_b { color: #4daab7; }
#furlough-legend-bottom .exempt_c { color: #5abac5; }
#furlough-legend-bottom .exempt_d { color: #82cad8; }
#furlough-legend-bottom .swatch-furloughed { background: #bb4207;}
#furlough-legend-bottom .swatch-exempt_a { background: #2fa3af; }
#furlough-legend-bottom .swatch-exempt_b { background: #4daab7; }
#furlough-legend-bottom .swatch-exempt_c { background: #5abac5; }
#furlough-legend-bottom .swatch-exempt_d { background: #82cad8; }

h6.furloughed { color: #bb4207;}
h6.exempt_a { color: #2fa3af; }
h6.exempt_b { color: #4daab7; }
h6.exempt_c { color: #5abac5; }
h6.exempt_d { color: #82cad8; }


.parentCell.active rect {
    opacity: 1;
}
.parentCell.active text {
    fill: #f0f0f0;
    text-shadow: 0px 1px 2px #444444;
}
g.cell {
    cursor: pointer;
}

.double-border {
    border: 5px solid #f0f0f0;
    outline: 1px solid #C7D1D1;
    margin: 20px auto;
}
table.double-border {
    width: 70%;
}
table.double-border td {
    border-left: 1px solid #D5D7D7;
    text-align: center;
}
table.double-border td:first-child {
    border-left: none;
}

.section {
    margin: 50px auto;
}
#header {
    text-align: center;
    width: 600px;
    margin: 10px auto 20px auto;
}
h1 {
    font-family: TisaSCWebPro, sans-serif;
    text-transform: lowercase;
    font-size: 40px;
    font-weight: 200;
    color: #6a6b6b;
    margin: 5px 20px;
    line-height: 55px;
}
h2 {
    display: block;
    font-family: TisaSCWebPro, sans-serif;
    text-transform: lowercase;
    font-size: 28px;
    font-weight: 200;
    color: #333333;
    margin: 0;
}
h3 {
    font-family: TisaWebPro, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #101010;
    margin: 0px;
}
h4 {
    font-family: TisaWebPro, Georgia, "Times New Roman", Times, serif;
    line-height: 1.1;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 24px;
    font-weight: 200;
    color: #6a6b6b;
}
#body>h4, .section>h4 {
    text-align: center;
}
h6 {
    font-family: TisaScWebPro, sans-serif;
    text-transform: lowercase;
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
}

#furlough-map-container {
    margin-top: 20px;
}
div.tooltip {
    display: inline-block;
    position: absolute;
    padding: 10px;
    background: white;
    border-radius: 3px;
    pointer-events: none;
    width: 200px;
    box-shadow: 0px 0px 5px #888;
    text-align: center;
}
div.tooltip p { margin: 0px; }
div.tooltip h6 { line-height: 20px; }
div.tooltip h3 { margin-bottom: 5px; }

div.agency-details {
    position: absolute;
    display: none;
    top: 40px;
    width: 300px;
    background: white;
    border-radius: 3px;
    pointer-events: none;
    padding: 20px;
    text-align: center;
}
div.agency-details h3 {
    text-align: center;
    line-height: 24px;
}
div.agency-details table {
    width: 300px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
div.agency-details td {
    width: 150px;
    text-align: center;
}
tr.agency-staff-percent {
    font-weight: 300;
    font-size: 30px;
}


div#services-container {
    width: 700px;
    position: relative;
    overflow: auto;
}
#services-container ul {
    float: left;
    width: 168px;
    margin: 20px 32px 15px 32px;
    list-style-type: none;
    padding-left: 0px;
}
#services-container li {
    margin-bottom: 5px;
    line-height: 22px;
    cursor: pointer;
}

#services-container li.halted:hover { color: #911801; }
#services-container li.risk:hover { color: #e46a0c; }
#services-container li.ok:hover { color: #2fa3af; }

#about-section {
    width: 400px;
    padding: 20px 32px;
    font-size: 14px;
}
#about-section a {
    color: #666;
}
#about-section p { margin: 0; }

.text-red { color: #911801; }
.text-orange { color: #e46a0c; }
.text-green { color: #2fa3af; }
.text-gray { color: #999; }